@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


.course{
    margin-top: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.course > img {
    border-radius: 20px;
    height: 60px;
}
.course > img:hover{
    transform:scale(1.20);

}
.cor-txt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cor-desc{
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
   font-weight: 300px;
   font-size: 18px;
   font-family: "Montserrat", sans-serif;
}

.cor-desc:hover{
    transform:scale(1.09)
}